.control-arrow.control-prev {
  background-color: #00000029;
  padding: 0px 30px !important;
  height: 95%;
}
.control-arrow.control-next {
  background-color: #00000029;
  padding: 0px 30px !important;
  height: 95%;
}

.banner-bg-color {
  background: linear-gradient(to top, #9453ff6b, #3dc6ec5c);
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
}

.banner-bg-color-2 {
  background: linear-gradient(to top, #9453ff6b, #3dc6ec5c);
  width: 40%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -10;
}
@media only screen and (max-width: 768px) {
  .banner-bg-color {
    display: none;
  }
  .banner-full {
    background: linear-gradient(to top, #9453ff6b, #3dc6ec5c);
  }
  .banner-bg-color-2 {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .banner-bg-color {
    width: 55%;
  }
  .banner-bg-color-2 {
    width: 55%;
  }
}
