.control-arrow.control-prev {
  background-color: #00000029;
  padding: 0px 15px !important;
  /* height: 100%; */
}
.control-arrow.control-next {
  background-color: #00000029;
  padding: 0px 15px !important;
}
.banner-bg {
  background: linear-gradient(135deg, #111827, #374151);
}
.banner-bg2 {
  background: linear-gradient(135deg, #1e3a8a, #4c4d4f);
  /* background: linear-gradient(135deg, #1f2848, #4a515f); */
}
